<div class="widgets-box">
  <div cdkDropList
       #widgetsList="cdkDropList"
       [cdkDropListData]="widgets"
       [cdkDropListConnectedTo]="[usersWidgetsList]"
       class="widgets-menu"
       (cdkDropListDropped)="drop($event)">

    <div *ngFor="let item of widgets" cdkDrag>
      <widgets-list [widget]="item" ></widgets-list>
    </div>
  </div>

  <div cdkDropList
       #usersWidgetsList="cdkDropList"
       [cdkDropListData]="usersWidgets"
       [cdkDropListConnectedTo]="[widgetsList]"
       class="widgets-wrap"
       (cdkDropListDropped)="drop($event)">

    <div *ngFor="let item of usersWidgets" cdkDrag>
      <widgets-list [widget]="item" ></widgets-list>
    </div>
  </div>
</div>

