.auth-box{
  background-color: #e63946;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth{
    width: 300px;
    height: 230px;
    background-color: #f1faee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrap{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    .auth-elem{
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;

      &:hover{opacity: 1;}
    }

    &-icon-google{
      width: 30px;
      height: 30px;
      background: url(../../../assets/photos/google.svg) no-repeat;
      margin-right: 8px;
    }

    &-icon-vk{
      width: 30px;
      height: 30px;
      margin-right: 8px;
      background: url(../../../assets/photos/vk.svg) no-repeat center;
      background-size: 150%;
    }
  }
}
